<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">Produtos</a>
    <div class="form-inline">
        <label class="my-1 mr-2 text-light" for="inputSearchById">Pesquisar por ID do Produto: </label>
        <input class="form-control mr-sm-2" type="search" name="inputSearchById" id="inputSearchById"
            placeholder="Pesquisar..." aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" id="btnearchById">Pesquisar</button>
    </div>
</nav>
<main>
    <h3>Lista de Produtos</h3>
    <table id="mainTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID do Produto</th>
                <th>Produto</th>
                <th>Descrição do Produto</th>
                <th>Cor</th>
                <th>Descrição da Cor</th>
                <th>Tamanho</th>
                <th>Descrição do Tamanho</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID do Produto</th>
                <th>Produto</th>
                <th>Descrição do Produto</th>
                <th>Cor</th>
                <th>Descrição da Cor</th>
                <th>Tamanho</th>
                <th>Descrição do Tamanho</th>
            </tr>
        </tfoot>
    </table>
</main>